---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Maple Mornings - A Celebration of All Things Breakfast">
	<header>
		<svg id="logo" xmlns="http://www.w3.org/2000/svg" 
			width="320" height="320" viewBox="-2015 -2000 4030 4030">
			<title>Maple Mornings :: A Celebration of All Things Breakfast</title>
			<path fill="#F2B138" d="m-90 2030 45-863a95 95 0 0 0-111-98l-859 151 116-320a65 65 0 0 0-20-73l-941-762 212-99a65 65 0 0 0 34-79l-186-572 542 115a65 65 0 0 0 73-38l105-247 423 454a65 65 0 0 0 111-57l-204-1052 327 189a65 65 0 0 0 91-27l332-652 332 652a65 65 0 0 0 91 27l327-189-204 1052a65 65 0 0 0 111 57l423-454 105 247a65 65 0 0 0 73 38l542-115-186 572a65 65 0 0 0 34 79l212 99-941 762a65 65 0 0 0-20 73l116 320-859-151a95 95 0 0 0-111 98l45 863z"/>
		</svg>
		<h1>Maple Mornings</h1>
		<h2>A celebration of all things breakfast</h2>
	</header>

	<nav>
		<a href="">Celebrating</a>
		<a href="">Social</a>
		<a href="">History</a>
	</nav>

	<section id="celebrating">
		<section>
			<div class="content">
				<h2>Celebrating Maple Mornings</h2>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
				<p>
					Maple Mornings are celebrated on September 1st annually across the world.
					They are your new favorite holiday!
				</p>
			</div>
		</section>
		<div class="image-wrapper pancakes">&nbsp;</div>
	</section>

	<section id="social" class="reverse-stack">
		<div class="image-wrapper pancakes"></div>
		<section>
			<div class="content">
				<h2>Share the Breakfast Love!</h2>
				<p>
					Are you living your best Maple Mornings life? Post about it on Instagram
					using the <code>#maplemornings</code> hashtag, and your post may be featured
					here!
				</p>
			</div>
		</section>
	</section>

	<footer>
		&copy; 2022 Owen and 
		<a target="_blank" href="https://twitter.com/kevinwhinnery"
		>Kevin Whinnery</a>. 
		Made with &lt;3 in Minnesota.
	</footer>
</Layout>

<style>
	h1 {
		margin: 0;
		color: var(--color-yellow);
		font-family: var(--type-fancy);
	}

	h2 {
		margin: 10px 0;
		font-family: var(--type-heading);
	}

	p {
		line-height: 1.4em;
	}

	header {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
		text-align: center;
	}

	nav {
		text-align: center;
		background-color: var(--color-black);
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		border-bottom: 2px dashed;
		border-top: 2px dashed;
	}

	nav a, nav a:visited {
		color: var(--color-text);
		font-family: var(--type-heading);
		text-transform: uppercase;
		text-decoration: none;
		font-weight: bold;
		letter-spacing: 0.2ch;
	}

	section {
		width: 100%;
		display: flex;
	}

	section section {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.content {
		padding: 20px;
		margin: 40px;
		max-width: 500px;
		color: var(--color-black);
		background-color: var(--color-tan);
		border-radius: 20px;
		border: 5px solid var(--color-white);
		box-sizing: border-box;
	}

	.image-wrapper {
		flex-grow: 1;
		width: 100%;
		background-image: url("/pancakes.jpg");
 		background-color: var(--color-black);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: left;
	}

	code {
		display: inline-block;
		color: var(--color-white);
		background-color: var(--color-yellow);
		border-radius: 4px;
		padding: 2px 5px;
		border: 1px solid;
	}

	footer {
		background-color: var(--color-black);
		text-align: center;
		padding: 100px 50px;
		font-size: 0.8em;
		color: #777;
	}

	footer a, footer a:visited {
		color: #777;
	}

	@media only screen and (max-width: 960px) {
		#logo {
			width: 150px;
			height: 150px;
		}

		h1 {
			line-height: 1em;
			font-size: var(--font-size-lg);
			margin: 10px 0 20px;
		}

		h2 {
			font-size: var(--font-size-m);
		}

		nav {
			font-size: 0.8em;
			gap: 20px;
			padding: 10px;
		}

		section {
			flex-direction: column-reverse;
		}

		section.reverse-stack {
			flex-direction: column;
		}

		.content {
			padding: 20px;
			margin: 0;
			width: 100%;
			max-width: 100%;
			color: var(--color-black);
			background-color: var(--color-tan);
			border-radius: 0;
			border: 2px solid var(--color-white);
		}

		.image-wrapper {
			min-height: 220px;
		}
	}
</style>
